<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MasterUnlockerDb" 
             connectionString="Server=.\SQLEXPRESS;Database=MasterPDV;User Id=sa;Password=!@#Senha2026#@!;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>